#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card__body {
    display: flex;
    grid-gap: 15px;
    flex-direction: column;
}